pytest >=3.0.3
sqlalchemy >= 1.1.
pytest-cov
faker

# elpy environment
jedi
autopep8
flake8
yapf
elpy
black

invoke

# apirest
ruamel.yaml
cherrypy
requests

dependency_injector

# mysqlclient # If use mysql as data layer
